.chatItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: none;
  border-right: none;
  border-radius: 8px;
  background-color: #ffffff23;
  color: #ffffff;
  padding: 12px 16px;
  margin-top: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
}


.chatIcon{
    border: 2px solid rgb(54, 158, 6);
    border-radius: 50%;
    padding: 10px 10px;
    font-size: 15px;
}

.contChats{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffffcb;
    font-size: 14px;

}
.chatSelected{
    transform: scale(1.05);
    transition: transform 0.3s ;
}

h3{
margin: 0;
}

.iconTitle{
    font-size: 20px;
}

.contHeader{
     animation: jump 0.5s ease-in ;
}

@keyframes jump{
    0%{
        transform: translateY(-100px);
    }
    50%{
        transform:  translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}