/*css contMap*/
.mapContainer{
    width: 100%;
    height: 88vh;

}

.listPings{
    height: 500px;
    background-color: #aaaaaa;
}

/*css buttton*/
.buttonMap {
    position: absolute;
    right: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgb(12, 142, 175);
    width: 50px;
    height: 50px;
    font-size: 2em;
    color: #fff;
    font-size: 20px;
}
.addPing{
    top: 80px;
}
.searchBtn{
    top: 140px;
}

/*css form*/
.form{
    width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top:170px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;


}

.closeForm{
    font-size: 0.8em;
    border: none;
    background-color: transparent;
    float: right;
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formGroup label{
    margin-bottom: 0;
}

/*css marker*/
.list{
    position: absolute;
    z-Index: 1000;
    width: 85%;
    max-height: 130px;
    overflow-y: auto;
    cursor: pointer;
}

.iconMarker{
    width: 40px ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(12, 142, 175, 0.61);
    padding: 10px;
    animation: pulse 1s ease infinite;

}

.iconEl{
    font-size: 24px ;
    color: rgb(0, 0, 0);

}


@keyframes pulse {
    0%{
            box-shadow: none
    }
    50%{
            box-shadow: rgba(1, 133, 173, 0.61) 0px 0px 1px 3px;
    }
    100%{
        box-shadow: none;
    }
}

/*css detailsForm*/
.imgUser{
    width: 30px;
    height: 30px;
}

.alertFormAdd{
    font-size: 1em;
    text-align: center;
    color: red;
}
.mapboxgl-popup-content{
    border-radius: 10px; 
}

#detailsBtn{
    margin: 5px;
    background-color: rgb(12, 142, 175);
    color: #ffff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px ;
    font-size: 1.2em;
}

.datePing{
    font-size: 0.9em;
}

.descriptionPing{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    padding: 10px;
}

.linkProfile{
    color: black;
}

