.cardList{
    background-color: rgba(0, 0, 0, 0.103);
    color: #c2c2c2;
    box-shadow: rgba(17, 17, 17, 0.4) 0px 0px 0px 2px, rgba(5, 5, 5, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cardList .card-header{
    background-color: #c2c2c215;
}


.alertList{
    border: 0.5px solid rgb(207, 2, 2);
    background-color: none;
}

.card, .alertList, .btnList{
    font-size: 12px;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #6b6b6b15 ;
}

.cardList p{
    margin: 0;
}