.card{
    background-color: rgba(0, 0, 0, 0.103);
    color: #c2c2c2;

}
.card-header{
    background-color: #c2c2c215;
}


.alertList{
    border: 0.5px solid rgb(207, 2, 2);
    background-color: none;
}

.card, .alertList, .btnList{
    font-size: 12px;
}
