.mapContainer{
    width: 100%;
    height: 600px;

}
.mapboxgl-canvas {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px){
    .mapContainer{
        height: 550px;
    }
}

@media (max-width: 430px){
    .mapContainer{
        height: 600px;
    }
}
.listPings{
    height: 500px;
    background-color: #aaaaaa;
}


.buttonMap {
    position: absolute;
    right: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgb(12, 142, 175);
    width: 50px;
    height: 50px;
    font-size: 2em;
    color: #fff;
    font-size: 20px;
}
.addPing{
    top: 50px;
}
.searchBtn{
    top: 110px;
}

.form{
    width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top:170px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;


}

.closeForm{
    font-size: 0.8em;
    border: none;
    background-color: transparent;
    float: right;
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formGroup label{
    margin-bottom: 0;
}

.list{
    position: absolute;
    z-Index: 1000;
    width: 85%;
    max-height: 130px;
    overflow-y: auto;
    cursor: pointer;
}

.iconMarker{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #08be0881;

}

.iconEl{
    font-size: 24px;
    color: rgb(0, 0, 0);

}

.imgUser{
    width: 30px;
    height: 30px;
}

.alertFormAdd{
    font-size: 1em;
    text-align: center;
    color: red;
}